body{
    background-color:rgb(177, 164, 163);
    color:black
}
.navbar{
    margin-bottom: 10px;
}

/* unvisited link */
.navbar:link{
    color: green;
}
  
  /* visited link */
  .navbar:visited{
    color: yellow;
}
  
  /* mouse over link */
  .navbar:hover{
    color: hotpink;
}
  
  /* selected link */
  .navbar:active{
    color: rgb(157, 255, 0);
}

ul{
  list-style: none;
}

li{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
  width: 150pt;
  height: 150pt;
  background-color: royalblue;
  border-radius: 20%;
  text-align: center;
  padding-top: 70pt;
  border-color: gold;
  border-style: solid;
}

.descritor{
  font-weight: 900;
}