body{
    background-color:rgb(177, 164, 163);
    color:black
}
.navbar{
    margin-bottom: 10px;
}

a{ margin-right: 10px;}

ul{
  list-style: none;
}

li{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
  width: 150pt;
  height: 150pt;
  background-color: rgba(123, 161, 51, 0.945);
  border-radius: 8%;
  text-align: center;
  padding-top: 70pt;
  border-color: rgb(131, 77, 6);
  border-style: solid;
}

.descritor{
  font-weight: 900;
}