<%-include('base_header') -%>
    <body>
        <%-include('navbar') -%>
        <h1>Bem vindo ao meu portfólio web!</h1>
        <p>Este é o meu portfólio web, ainda em desenvolvimento.</p>
    </body>
<%-include('base_footer') -%>