<%-include('base_header') -%>
    <body>
        <%-include('navbar') -%>
        <h1>Esta página contém o meu perfil. </h1>
            <p>Me chamo André Luís, sou estudante do 5º período de Análise e Desenvolvimento de Sistemas na Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal.</p> 
            <p>Estou fazendo este portfólio para a matéria de Laboratório de Engenharia de Software.</p>
    </body>
<%-include('base_footer') -%>
