<%-include('base_header') -%>
    <body>
        <%-include('navbar') -%>
        Oh my God, booba!
        <% for(var i=0; i< lista_projetos.length; ++i) { %>
            
    </body>
<%-include('base_footer') -%>